body {
  margin: 0;
  padding: 0;
  background-color: #efeee7;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
  background-color: black;
}

.name-pic {
  float: left;
  width: 18%;
  margin-left: 50px;
}

.info {
  float: left;
  margin-top: 50px;
  width: 50%;
}

.contact {
  float: left;
  padding-left: 20px;
  margin-right: 50px;
}
